In [309]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.impute import SimpleImputer

In [369]:
data = pd.read_csv('drug and alcohol abuse - dataset.csv')
data

,Unnamed: 0,Country,Phone_Number,Gender,Age,Has_Older_Sibling,Has_Younger_Sibling,Parents_Together,Substance_Abuse,Grades,Does_Sports,In_Relationship,Criminal_Record,Family_Income,School_Type,Parents_Substance_Abuse,Father_Educated,Mother_Educated
0,0,Canada,868-946-4233x57433,Female,15.0,False,True,True,Alcohol and Drugs,2.0,True,True,True,55658.0,Private,False,True,False
1,1,Germany,+1-873-983-2023x8190,Female,18.0,False,True,True,No Use,97.0,False,False,True,78178.0,Private,False,False,True
2,2,Brazil,(429)889-0951x040,Female,18.0,False,False,True,Drugs,58.0,False,True,True,42693.0,Public,True,False,False
3,3,USA,001-293-239-5083x478,Male,18.0,True,True,True,Alcohol,63.0,False,False,True,48308.0,Public,True,False,False
4,4,France,(874)463-8629,Male,15.0,False,False,True,Drugs,7.0,False,False,True,25598.0,Public,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,Canada,001-781-251-7253,Male,17.0,True,True,True,No Use,1.0,False,False,True,44237.0,Private,False,True,True
99996,99996,Canada,+1-824-687-1622x2593,Female,15.0,False,False,False,Alcohol and Drugs,71.0,True,True,True,56133.0,Private,True,True,False
99997,99997,USA,+1-702-232-8652,Male,18.0,True,False,False,Alcohol and Drugs,17.0,True,True,True,29651.0,Public,True,False,False
99998,99998,Japan,001-511-706-6624x53000,Male,17.0,True,True,True,Alcohol,51.0,False,True,True,50957.0,Public,True,False,False
99999,99999,Canada,(405)986-8844x424,Female,17.0,True,True,False,Drugs,12.0,False,False,False,95775.0,Public,False,False,False

In [370]:
data.shape

(100000, 18)

In [373]:
data.dtypes

Unnamed: 0                   int64
Country                     object
Phone_Number                object
Gender                      object
Age                        float64
Has_Older_Sibling           object
Has_Younger_Sibling         object
Parents_Together            object
Substance_Abuse             object
Grades                     float64
Does_Sports                 object
In_Relationship               bool
Criminal_Record             object
Family_Income              float64
School_Type                 object
Parents_Substance_Abuse     object
Father_Educated               bool
Mother_Educated             object
dtype: object

In [375]:
data = data.convert_dtypes()
data

,Unnamed: 0,Country,Phone_Number,Gender,Age,Has_Older_Sibling,Has_Younger_Sibling,Parents_Together,Substance_Abuse,Grades,Does_Sports,In_Relationship,Criminal_Record,Family_Income,School_Type,Parents_Substance_Abuse,Father_Educated,Mother_Educated
0,0,Canada,868-946-4233x57433,Female,15,False,True,True,Alcohol and Drugs,2,True,True,True,55658,Private,False,True,False
1,1,Germany,+1-873-983-2023x8190,Female,18,False,True,True,No Use,97,False,False,True,78178,Private,False,False,True
2,2,Brazil,(429)889-0951x040,Female,18,False,False,True,Drugs,58,False,True,True,42693,Public,True,False,False
3,3,USA,001-293-239-5083x478,Male,18,True,True,True,Alcohol,63,False,False,True,48308,Public,True,False,False
4,4,France,(874)463-8629,Male,15,False,False,True,Drugs,7,False,False,True,25598,Public,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,Canada,001-781-251-7253,Male,17,True,True,True,No Use,1,False,False,True,44237,Private,False,True,True
99996,99996,Canada,+1-824-687-1622x2593,Female,15,False,False,False,Alcohol and Drugs,71,True,True,True,56133,Private,True,True,False
99997,99997,USA,+1-702-232-8652,Male,18,True,False,False,Alcohol and Drugs,17,True,True,True,29651,Public,True,False,False
99998,99998,Japan,001-511-706-6624x53000,Male,17,True,True,True,Alcohol,51,False,True,True,50957,Public,True,False,False
99999,99999,Canada,(405)986-8844x424,Female,17,True,True,False,Drugs,12,False,False,False,95775,Public,False,False,False

In [377]:
data.dtypes

Unnamed: 0                          Int64
Country                    string[python]
Phone_Number               string[python]
Gender                     string[python]
Age                                 Int64
Has_Older_Sibling                 boolean
Has_Younger_Sibling               boolean
Parents_Together                  boolean
Substance_Abuse            string[python]
Grades                              Int64
Does_Sports                       boolean
In_Relationship                   boolean
Criminal_Record                   boolean
Family_Income                       Int64
School_Type                string[python]
Parents_Substance_Abuse           boolean
Father_Educated                   boolean
Mother_Educated                   boolean
dtype: object

In [379]:
boolean_columns = data.select_dtypes(include='bool').columns
boolean_columns

Index(['Has_Older_Sibling', 'Has_Younger_Sibling', 'Parents_Together',
       'Does_Sports', 'In_Relationship', 'Criminal_Record',
       'Parents_Substance_Abuse', 'Father_Educated', 'Mother_Educated'],
      dtype='object')

In [381]:
for col in boolean_columns:
    data[col] = pd.to_numeric(data[col], errors='coerce').astype('Int64')
data

,Unnamed: 0,Country,Phone_Number,Gender,Age,Has_Older_Sibling,Has_Younger_Sibling,Parents_Together,Substance_Abuse,Grades,Does_Sports,In_Relationship,Criminal_Record,Family_Income,School_Type,Parents_Substance_Abuse,Father_Educated,Mother_Educated
0,0,Canada,868-946-4233x57433,Female,15,0,1,1,Alcohol and Drugs,2,1,1,1,55658,Private,0,1,0
1,1,Germany,+1-873-983-2023x8190,Female,18,0,1,1,No Use,97,0,0,1,78178,Private,0,0,1
2,2,Brazil,(429)889-0951x040,Female,18,0,0,1,Drugs,58,0,1,1,42693,Public,1,0,0
3,3,USA,001-293-239-5083x478,Male,18,1,1,1,Alcohol,63,0,0,1,48308,Public,1,0,0
4,4,France,(874)463-8629,Male,15,0,0,1,Drugs,7,0,0,1,25598,Public,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99995,Canada,001-781-251-7253,Male,17,1,1,1,No Use,1,0,0,1,44237,Private,0,1,1
99996,99996,Canada,+1-824-687-1622x2593,Female,15,0,0,0,Alcohol and Drugs,71,1,1,1,56133,Private,1,1,0
99997,99997,USA,+1-702-232-8652,Male,18,1,0,0,Alcohol and Drugs,17,1,1,1,29651,Public,1,0,0
99998,99998,Japan,001-511-706-6624x53000,Male,17,1,1,1,Alcohol,51,0,1,1,50957,Public,1,0,0
99999,99999,Canada,(405)986-8844x424,Female,17,1,1,0,Drugs,12,0,0,0,95775,Public,0,0,0

In [383]:
data.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Length: 100000, dtype: bool

In [385]:
data.duplicated().sum()

0

In [387]:
data.drop_duplicates(inplace=True) # Because we don't have repeated lines, it is not needed to run this line

In [389]:
data.drop('Unnamed: 0', axis=1, inplace=True)
data.drop('Phone_Number', axis=1, inplace=True)

In [391]:
data.rename(columns={'Does_Sports':'Participates_in_Athletics'}, inplace=True)

In [393]:
data.isnull().sum()

Country                      386
Gender                       152
Age                          409
Has_Older_Sibling            186
Has_Younger_Sibling          290
Parents_Together             166
Substance_Abuse                0
Grades                       222
Participates_in_Athletics    248
In_Relationship                0
Criminal_Record              340
Family_Income                135
School_Type                  471
Parents_Substance_Abuse      155
Father_Educated                0
Mother_Educated              423
dtype: int64

In [395]:
data["Country"].fillna("Unknown Country", inplace=True)
data["Gender"].fillna("Unknown Gender", inplace=True)
data["School_Type"].fillna("Unknown Status", inplace=True)

In [397]:
Age_mean = int(data["Age"].mean())
print(Age_mean)
data["Age"].fillna(Age_mean, inplace= True)

# imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
# column_name = 'Age'
# data[column_name] = imputer.fit_transform(data[[column_name]])

16

In [399]:
imputer = SimpleImputer(missing_values=np.nan, strategy='median')

column_Grade = 'Grades'
data[column_Grade] = imputer.fit_transform(data[[column_Grade]])

column_Family_Income = 'Family_Income'
data[column_Family_Income] = imputer.fit_transform(data[[column_Family_Income]])

# Grades_median = int(data["Grades"].median())
# print(Grades_median)
# data["Grades"].fillna(Grades_median, inplace= True)

# Family_Income_median = int(data["Family_Income"].median())
# print(Grades_median)
# data["Family_Income"].fillna(Family_Income_median, inplace= True)

In [401]:
data.isnull().sum()

Country                        0
Gender                         0
Age                            0
Has_Older_Sibling            186
Has_Younger_Sibling          290
Parents_Together             166
Substance_Abuse                0
Grades                         0
Participates_in_Athletics    248
In_Relationship                0
Criminal_Record              340
Family_Income                  0
School_Type                    0
Parents_Substance_Abuse      155
Father_Educated                0
Mother_Educated              423
dtype: int64

In [403]:
data.dropna(inplace=True)

In [405]:
data.isnull().sum()

Country                      0
Gender                       0
Age                          0
Has_Older_Sibling            0
Has_Younger_Sibling          0
Parents_Together             0
Substance_Abuse              0
Grades                       0
Participates_in_Athletics    0
In_Relationship              0
Criminal_Record              0
Family_Income                0
School_Type                  0
Parents_Substance_Abuse      0
Father_Educated              0
Mother_Educated              0
dtype: int64

In [407]:
data.reset_index(drop=True, inplace=True)
data

,Country,Gender,Age,Has_Older_Sibling,Has_Younger_Sibling,Parents_Together,Substance_Abuse,Grades,Participates_in_Athletics,In_Relationship,Criminal_Record,Family_Income,School_Type,Parents_Substance_Abuse,Father_Educated,Mother_Educated
0,Canada,Female,15,0,1,1,Alcohol and Drugs,2.0,1,1,1,55658.0,Private,0,1,0
1,Germany,Female,18,0,1,1,No Use,97.0,0,0,1,78178.0,Private,0,0,1
2,Brazil,Female,18,0,0,1,Drugs,58.0,0,1,1,42693.0,Public,1,0,0
3,USA,Male,18,1,1,1,Alcohol,63.0,0,0,1,48308.0,Public,1,0,0
4,France,Male,15,0,0,1,Drugs,7.0,0,0,1,25598.0,Public,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98201,Canada,Male,17,1,1,1,No Use,1.0,0,0,1,44237.0,Private,0,1,1
98202,Canada,Female,15,0,0,0,Alcohol and Drugs,71.0,1,1,1,56133.0,Private,1,1,0
98203,USA,Male,18,1,0,0,Alcohol and Drugs,17.0,1,1,1,29651.0,Public,1,0,0
98204,Japan,Male,17,1,1,1,Alcohol,51.0,0,1,1,50957.0,Public,1,0,0
98205,Canada,Female,17,1,1,0,Drugs,12.0,0,0,0,95775.0,Public,0,0,0

In [409]:
data.head()

,Country,Gender,Age,Has_Older_Sibling,Has_Younger_Sibling,Parents_Together,Substance_Abuse,Grades,Participates_in_Athletics,In_Relationship,Criminal_Record,Family_Income,School_Type,Parents_Substance_Abuse,Father_Educated,Mother_Educated
0,Canada,Female,15,0,1,1,Alcohol and Drugs,2.0,1,1,1,55658.0,Private,0,1,0
1,Germany,Female,18,0,1,1,No Use,97.0,0,0,1,78178.0,Private,0,0,1
2,Brazil,Female,18,0,0,1,Drugs,58.0,0,1,1,42693.0,Public,1,0,0
3,USA,Male,18,1,1,1,Alcohol,63.0,0,0,1,48308.0,Public,1,0,0
4,France,Male,15,0,0,1,Drugs,7.0,0,0,1,25598.0,Public,0,0,0

In [411]:
data.info()

# data.describe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98206 entries, 0 to 98205
Data columns (total 16 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Country                    98206 non-null  string
 1   Gender                     98206 non-null  string
 2   Age                        98206 non-null  Int64
 3   Has_Older_Sibling          98206 non-null  Int64
 4   Has_Younger_Sibling        98206 non-null  Int64
 5   Parents_Together           98206 non-null  Int64
 6   Substance_Abuse            98206 non-null  string
 7   Grades                     98206 non-null  float64
 8   Participates_in_Athletics  98206 non-null  Int64
 9   In_Relationship            98206 non-null  Int64
 10  Criminal_Record            98206 non-null  Int64
 11  Family_Income              98206 non-null  float64
 12  School_Type                98206 non-null  string
 13  Parents_Substance_Abuse    98206 non-null  Int64
 14  Father_Educated            98206 non-null  Int64
 15  Mother_Educated            98206 non-null  Int64
dtypes: Int64(10), float64(2), string(4)
memory usage: 12.9 MB

In [413]:
data.shape

(98206, 16)

In [418]:
set(data.Country)

{'Australia',
 'Brazil',
 'Canada',
 'France',
 'Germany',
 'Italy',
 'Japan',
 'Spain',
 'UK',
 'USA',
 'Unknown Country'}